html,body{font:12px 'Microsoft yahei',Helvetica,Arial,Sans-serif;margin:0;padding:0;width: 100%;height: 100%;}
html,body,#carousel,#carousel>ul,#carousel>ul>li,#carousel dl,#carousel dt{position:relative;height:100%;margin:0;padding:0;overflow:hidden;}
* {
-webkit-animation-fill-mode: forwards!important;
-moz-animation-fill-mode: forwards!important;
-ms-animation-fill-mode: forwards!important;
-o-animation-fill-mode: forwards!important;
}
#carousel{overflow:hidden;width:100%;-webkit-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0) scale3d(1,1,1);-webkit-transform-style:preserve-3d;-webkit-perspective:1000px;-moz-transform:translate3d(0,0,0) scale3d(1,1,1);transform:translate3d(0,0,0) scale3d(1,1,1);}
#carousel>ul.animates,#carousel dl.animates{-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear;}
#carousel>ul,#carousel dl{-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;-webkit-box-shadow:0 0 20px rgba(0,0,0,.2);box-shadow:0 0 20px rgba(0,0,0,.2);-webkit-transform:translate3d(0%,0,0) scale3d(1,1,1);-moz-transform:translate3d(0%,0,0) scale3d(1,1,1);-ms-transform:translate3d(0%,0,0) scale3d(1,1,1);-o-transform:translate3d(0%,0,0) scale3d(1,1,1);transform:translate3d(0%,0,0) scale3d(1,1,1);}
#carousel dl{position:absolute;top:0;}
#carousel>ul>li,#carousel dt{width: 100%;-webkit-transform-style:preserve-3d;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);margin: 0 auto;}
#carousel dt{float:left;}
.vertical li{float:left;}
.pc{overflow-x: hidden;}
.clearfix{display:block; /* clear:both; */}
.clearfix:after{display:block;clear:both;content:'';}
a,a:hover{cursor:pointer;text-decoration:none;}
a img{border:0;}
ul,li{list-style:none;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;margin:0;padding:0;}
.head { height: 660px; background: #267be5;}
.wrap { position: relative; width: 1200px; margin: 0 auto; }
.nav { position: relative; overflow: hidden; }
.nav .logo { font-size: 30px; font-weight: normal; margin-top: 10px; float: left; width: 193px; color: #fff; }
.nav .logo img { display: inline-block; margin-right: 10px; vertical-align: middle; }
.nav .nav-bar { float: right; margin-top: 40px; color: #fff; }
.nav .nav-bar a { font-size: 14px; line-height: 20px; display: inline-block; margin: 0 10px; padding: 3px 7px; color: #fff; border-radius: 5px; }
.nav .nav-bar a:hover, .nav .nav-bar a.on { background: #2972cf; }
.animates img { width: 100%; }
.animates { position: absolute; }
.phone { top: 115px; left: 100px; -webkit-animation: floatbottom 1.5s ease forwards; }
.fonts { top: 200px; right: 80px; -webkit-animation: floatright 1.5s ease forwards; }
.downs { top: 460px; right: 40px; }
.downs_btn { display: inline-block; width: 210px; height: 88px; margin: 0px 10px; vertical-align: middle; border-radius: 5px; background: url(../img/download_btns.png) no-repeat; }
.downs_btn.andriod { background-position: -210px 0; }
.downs_btn.andriod:hover { background-position: -210px -88px; }
.downs_btn.ios:hover { background-position: 0 -88px; }
.arrow{bottom: 2%;-webkit-animation: downAndup 1.5s linear infinite;width: 10%;left: 45%;cursor: pointer;}
.qcode{display: inline-block;vertical-align: middle;margin-left: 10px;}
.tips { padding: 120px 0 40px; text-align: center; }
.tips h3 { font-size: 30px; margin-bottom: 10px; color: #4a4a4a; }
.tips p { font-size: 16px; color: #787878; }
.photowall .photos { display: inline-block; width: 24.5%; text-align: center; }
.photowall .photos img{width:100%;}
.photowall a.photos:hover { -webkit-transform: scale(1.1); }
.intro{ border-bottom: 1px solid #ddd; margin-bottom:30px;}
.intro .box { width: 800px; margin: 40px auto; text-align: center; }
.intro .box .tit { font-size: 30px; }
.intro .box p { font-size: 16px; }
.intro .box p.desc{color:#b0b0b0;}
.con-ft{}
.con-ft p.bimg{text-align:center;}
.con-ft .bimg strong{font-size:20px;color:#6e6e6e;}
.con-ft .d-bottom{margin-top: 35px;text-align:center;}
.con-ft .notes{text-align:center;}
.footer{background:#267be4;text-align:center;}
.footer p{text-align:center;color:#fff;margin: 0;padding: 20px 0;line-height: 25px;font-size: 14px;}


@media screen and (max-width:480px){
	.pc{display:none;}
	.mobile{display:block;height:100%;}
	.mobile .logo{text-align:center;padding:25px 0;color:#267be5;font-size:32px;width:100%;}
	.mobile .logo img{display:inline-block;margin-right:10px;vertical-align:middle;}
	.mobile .panel{position:relative;width:100%;height:100%;margin:0 auto;overflow:hidden;}
	.mobile .panel-con{position:relative;background:#267be5;min-height:45%;width:100%;}
	.mobile .panel-con .animates{position:absolute;}
	.mobile .panel-con .animates img{}
	.mobile .panel-con .phone{top:33%;left:5%;text-align:center;-webkit-animation:floatbottom 1.5s ease forwards;width:40%;}
	.mobile .panel-con .fonts{top:38%;right:3%;-webkit-animation:floatright 1.5s ease forwards;width:48%;}
	.mobile .panel-con .downs{top:108%;right:15%;width:30%;}
	.mobile .arrow{bottom:2%;-webkit-animation:downAndup 1.5s linear infinite;width:10%;left:45%;z-index:1000;}
	.mobile .photowall{}
	.mobile .photowall h1{text-align:center;margin:10px 0;}
	.mobile .photowall p{text-align:center;font-size:1.2em;}
	.mobile .photowall .imgs{margin-top:30px;}
	.mobile .photowall .pic{display:inline-block;width:48%;text-align:center;margin:0 0.7%;}
	.mobile .photowall .pic img{display:inline-block;width:100%;}
	.mobile .ldcont{width:100%;padding-bottom:15px;border-bottom:1px solid #ddd;}
	.mobile .ldcont h1{text-align:center;margin:10px 0;}
	.mobile .ldcont p{text-align:center;font-size:1.2em;}
	.mobile .ldcont p.con{background:#ddd;border-radius:6px;height:120px;width:80%;margin:0 auto;}
	.mobile .down{/* margin-top:20px; */text-align:center;line-height:70px;}
	.mobile .down .logos{display:inline-block;vertical-align:middle;}
	.mobile .down a{display:inline-block;width:35%;vertical-align:middle;}
	.mobile .down a.downloadbt img{display:inline-block;width:100%;vertical-align:middle;}
	.mobile .mains{height:100%;}
	.mobile .mains>ul{height:100%;}
	.mobile .foot{color:#fff;background:#24262c;text-align:center;line-height:50px;margin: 13px 0;}
}
@media screen and (min-width:481px) and (max-width:768px){
	.pc{display:none;}
	.mobile{display:block;height:100%;}
	.mobile .logo{text-align:center;padding:25px 0;color:#267be5;font-size:32px;}
	.mobile .logo img{display:inline-block;margin-right:10px;vertical-align:middle;}
	.mobile .panel{position:relative;width:100%;height:100%;margin:0 auto;overflow:hidden;}
	.mobile .panel-con{position:relative;background:#267be5;min-height:45%;}
	.mobile .panel-con .animates{position:absolute;}
	.mobile .panel-con .animates img{}
	.mobile .panel-con .phone{top:21%;left:10%;text-align:center;-webkit-animation:floatbottom 1.5s ease forwards;width:32%;}
	.mobile .panel-con .fonts{top:35%;right:5%;-webkit-animation:floatright 1.5s ease forwards;width:50%;}
	.mobile .panel-con .downs{top:108%;right:15%;width:30%;}
	.mobile .panel-con .downs img{}
	.mobile .arrow{bottom:2%;-webkit-animation:downAndup 1.5s linear infinite;width:10%;left:45%;z-index:1000;}
	.mobile .photowall{}
	.mobile .photowall h1{text-align:center;margin:10px 0;}
	.mobile .photowall p{text-align:center;font-size:1.2em;}
	.mobile .photowall .imgs{margin-top:30px;}
	.mobile .photowall .pic{display:inline-block;width:48%;text-align:center;margin:0 0.7%;}
	.mobile .photowall .pic img{display:inline-block;width:100%;}
	.mobile .ldcont{width:100%;padding-bottom:15px;border-bottom:1px solid #ddd;}
	.mobile .ldcont h1{text-align:center;margin:10px 0;}
	.mobile .ldcont p{text-align:center;font-size:1.2em;}
	.mobile .ldcont p.con{background:#ddd;border-radius:6px;height:120px;width:80%;margin:0 auto;}
	.mobile .down{margin-top:20px;text-align:center;line-height:70px;}
	.mobile .down .logos{display:inline-block;vertical-align:middle;}
	.mobile .down a{display:inline-block;width:35%;vertical-align:middle;}
	.mobile .down a.downloadbt img{display:inline-block;width:100%;vertical-align:middle;}
	.mobile .mains{height:100%;}
	.mobile .mains>ul{height:100%;}
	.mobile .foot{color:#fff;background:#24262c;text-align:center;line-height:50px;margin:20px 0;}
}
@media screen and (min-width:769px) and (max-width:1200px){
	.mobile{display:none;}
	.head{height:600px;}
	.wrap{width:90%;}
	.phone{left:0;width:270px;}
	.fonts{right:0; /* width:455px; */}
	.fonts img{width:85%;}
	.downs{right:-38px;}
}
@media screen and (min-width:1201px){
	.mobile{display:none;}
}
@-webkit-keyframes floattop{
	0%{-webkit-transform:translateY(-100px);opacity:0;}
	100%{-webkit-transform:translateY(10px);opacity:1;}
}
@-webkit-keyframes floatright{
	0%{-webkit-transform:translateX(500px);opacity:0;}
	100%{-webkit-transform:translateX(0px);opacity:1;}
,}
@-webkit-keyframes floatbottom{
	0%{-webkit-transform:translateY(50px);opacity:0;}
	100%{-webkit-transform:translateY(0px);opacity:1;}
}
@-webkit-keyframes downAndup{
	0%{-webkit-transform:translateY(-10px);}
	50%{-webkit-transform: translateY(0px);}
	100%{-webkit-transform: translateY(-10px);}
}

/*向上淡出*/
.fadeOutUp{-webkit-animation-name:fadeOutUp;-moz-animation-name:fadeOutUp;-o-animation-name:fadeOutUp;}
@-webkit-keyframes fadeOutUp{0%{opacity:1;-webkit-transform:translateY(0)}
100%{opacity:0;-webkit-transform:translateY(-20px);}}
@-moz-keyframes fadeOutUp{0%{opacity:1;-moz-transform:translateY(0)}
100%{opacity:0;-moz-transform:translateY(-20px);}}
@-o-keyframes fadeOutUp{0%{opacity:1;-o-transform:translateY(0);}
100%{opacity:0;-o-transform:translateY(-20px);}
 }

/*下方淡入*/
.fadeInUp{
	-webkit-animation-name:fadeInUp;/*Safari 和 Chrome*/	
	-moz-animation-name:fadeInUp;/*Firefox*/
	-o-animation-name:fadeInUp;/*Opera*/
	}
/*Safari 和 Chrome*/	
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(20px)}
100%{opacity:1;-webkit-transform:translateY(0);}}
/*Firefox*/
@-moz-keyframes fadeInUp{0%{opacity:0;-moz-transform:translateY(20px)}
100%{opacity:1;-moz-transform:translateY(0);}}
/*Opera*/
@-o-keyframes fadeInUp{0%{opacity:0;-o-transform:translateY(20px)}
100%{opacity:1;-o-transform:translateY(0);}}

/*上方淡入*/
.fadeInDown{
	-webkit-animation-name:fadeInDown;/*Safari 和 Chrome*/	
	-moz-animation-name:fadeInDown;/*Firefox*/
	-o-animation-name:fadeInDown;/*Opera*/
}
/*Safari 和 Chrome*/	
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px)}
100%{opacity:1;-webkit-transform:translateY(0)};}
/*Firefox*/
@-moz-keyframes fadeInDown{0%{opacity:0;-moz-transform:translateY(-20px);}
100%{opacity:1;-moz-transform:translateY(0);}}
/*Opera*/
@-o-keyframes fadeInDown{0%{opacity:0;-o-transform:translateY(-20px);}
100%{opacity:1;-o-transform:translateY(0);}}

/*左方淡入*/
.fadeInLeft{
	-webkit-animation-name:fadeInLeft;/*Safari 和 Chrome*/
	-moz-animation-name:fadeInLeft;/*Firefox*/
	-o-animation-name:fadeInLeft;/*Opera*/
	}
/*Safari 和 Chrome*/	
@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-20px);}
100%{opacity:1;-webkit-transform:translateX(0);}}
/*Firefox*/
@-moz-keyframes fadeInLeft{0%{opacity:0;-moz-transform:translateX(-20px);}
100%{opacity:1;-moz-transform:translateX(0);}}
/*Opera*/
@-o-keyframes fadeInLeft{0%{opacity:0;-o-transform:translateX(-20px);}
100%{opacity:1;-o-transform:translateX(0);}}

/*右边淡入*/
.fadeInRight{
	-webkit-animation-name:fadeInRight;/*Safari 和 Chrome*/	
	-moz-animation-name:fadeInRight;/*Firefox*/
	-o-animation-name:fadeInRight;/*Opera*/
	}
/*Safari 和 Chrome*/	
@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(20px);}
100%{opacity:1;-webkit-transform:translateX(0);}}
/*Firefox*/
@-moz-keyframes fadeInRight{0%{opacity:0;-moz-transform:translateX(20px)}
100%{opacity:1;-moz-transform:translateX(0);}}
/*Opera*/
@-o-keyframes fadeInRight{0%{opacity:0;-o-transform:translateX(20px);}
100%{opacity:1;-o-transform:translateX(0);}}

/*底部淡入*/
.fadeInUpBig{
	-webkit-animation-name:fadeInUpBig;/*Safari 和 Chrome*/	
	-moz-animation-name:fadeInUpBig;/*Firefox*/
	-o-animation-name:fadeInUpBig;/*Opera*/
	}
/*Safari 和 Chrome*/	
@-webkit-keyframes fadeInUpBig{0%{opacity:0;-webkit-transform:translateY(2000px);}
100%{opacity:1;-webkit-transform:translateY(0);}}
/*Firefox*/
@-moz-keyframes fadeInUpBig{0%{opacity:0;-moz-transform:translateY(2000px);}
100%{opacity:1;-moz-transform:translateY(0);}}
/*Opera*/
@-o-keyframes fadeInUpBig{0%{opacity:0;-o-transform:translateY(2000px);}
100%{opacity:1;-o-transform:translateY(0);}}

/*顶部淡入*/
.fadeInDownBig{
-webkit-animation-name:fadeInDownBig;/*Safari 和 Chrome*/	
-moz-animation-name:fadeInDownBig;/*Firefox*/
-o-animation-name:fadeInDownBig;/*Opera*/
}
/*Safari 和 Chrome*/	
@-webkit-keyframes fadeInDownBig{0%{opacity:0;-webkit-transform:translateY(-2000px); }
100%{opacity:1;-webkit-transform:translateY(0);}}
/*Firefox*/
@-moz-keyframes fadeInDownBig{0%{opacity:0;-moz-transform:translateY(-2000px);}
100%{opacity:1;-moz-transform:translateY(0);}}
/*Opera*/
@-o-keyframes fadeInDownBig{0%{opacity:0;-o-transform:translateY(-2000px);}
100%{opacity:1;-o-transform:translateY(0);}}

/*左上角飞入*/
.floatUpl{-webkit-animation-name:floatUpl;-moz-animation-name: floatUpl;-o-animation-name: floatUpl;}
@-webkit-keyframes floatUpl{
	0%{-webkit-transform:translate3d(-50px,-50px,0);opacity:0;}
	100%{-webkit-transform:translate3d(0,0,0);opacity:1;}
}
@-moz-keyframes floatUpl{
	0%{-moz-transform:translate3d(-50px,-50px,0);opacity:0;}
	100%{-moz-transform:translate3d(0,0,0);opacity:1;}
}
@-o-keyframes floatUpl{
	0%{-o-transform:translate3d(-50px,-50px,0);opacity:0;}
	100%{-o-transform:translate3d(0,0,0);opacity:1;}
}

/*又上角飞入*/
.floatUpr{-webkit-animation-name:floatUpr;-moz-animation-name: floatUpr;-o-animation-name: floatUpr;}
@-webkit-keyframes floatUpr{
	0%{-webkit-transform:translate3d(50px,-50px,0);opacity:0;}
	100%{-webkit-transform:translate3d(0,0,0);opacity:1;}
}
@-moz-keyframes floatUpr{
	0%{-moz-transform:translate3d(50px,-50px,0);opacity:0;}
	100%{-moz-transform:translate3d(0,0,0);opacity:1;}
}
@-o-keyframes floatUpr{
	0%{-o-transform:translate3d(50px,-50px,0);opacity:0;}
	100%{-o-transform:translate3d(0,0,0);opacity:1;}
}


/*左下上角飞入*/
.floatDownl{-webkit-animation-name:floatDownl;-moz-animation-name: floatDownl;-o-animation-name: floatDownl;}
@-webkit-keyframes floatDownl{
	0%{-webkit-transform:translate3d(-50px,50px,0);opacity:0;}
	100%{-webkit-transform:translate3d(0,0,0);opacity:1;}
}
@-moz-keyframes floatDownl{
	0%{-moz-transform:translate3d(-50px,50px,0);opacity:0;}
	100%{-moz-transform:translate3d(0,0,0);opacity:1;}
}
@-o-keyframes floatDownl{
	0%{-o-transform:translate3d(-50px,50px,0);opacity:0;}
	100%{-o-transform:translate3d(0,0,0);opacity:1;}
}

/*右下上角飞入*/
.floatDownr{-webkit-animation-name:floatDownr;-moz-animation-name: floatDownr;-o-animation-name: floatDownr;}
@-webkit-keyframes floatDownr{
	0%{-webkit-transform:translate3d(50px,50px,0);opacity:0;}
	100%{-webkit-transform:translate3d(0,0,0);opacity:1;}
}
@-moz-keyframes floatDownr{
	0%{-moz-transform:translate3d(50px,50px,0);opacity:0;}
	100%{-moz-transform:translate3d(0,0,0);opacity:1;}
}
@-o-keyframes floatDownr{
	0%{-o-transform:translate3d(50px,50px,0);opacity:0;}
	100%{-o-transform:translate3d(0,0,0);opacity:1;}
}


/*X轴淡入*/
.flipInX{
	/*Safari 和 Chrome*/
	-webkit-backface-visibility:visible!important;
	-webkit-animation-name:flipInX;
	/*Firefox*/
	-moz-backface-visibility:visible!important;
	-moz-animation-name:flipInX;
	/*Opera*/
	-o-backface-visibility:visible!important;
	-o-animation-name:flipInX;
	}
/*Safari 和 Chrome*/	
@-webkit-keyframes flipInX{0%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}/*transition-property可以设置要以动画方式变换的CSS属性，默认值all表示变换所有的属性，如果只针对单个或者多个CSS属性进行变换，就可以用这个属性来进行单独设置。*/
40%{-webkit-transform:perspective(400px) rotateX(-10deg)}
70%{-webkit-transform:perspective(400px) rotateX(10deg)}
100%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}}
/*Firefox*/
@-moz-keyframes flipInX{0%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}
40%{-moz-transform:perspective(400px) rotateX(-10deg)}
70%{-moz-transform:perspective(400px) rotateX(10deg)}
100%{-moz-transform:perspective(400px) rotateX(0deg);opacity:1}}
/*Opera*/
@-o-keyframes flipInX{0%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}
40%{-o-transform:perspective(400px) rotateX(-10deg)}
70%{-o-transform:perspective(400px) rotateX(10deg)}
100%{-o-transform:perspective(400px) rotateX(0deg);opacity:1}}
